node_modules
.next
out
next-env.d.ts
*.tsbuildinfo
.vercel

# local env and data
.env
.env*.local
.data
.nomo

# logs
*.log

# editor and os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
.playwright-cli
